<!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

        <div class="swiper-slide" *ngFor="let peliculas of peliculaSlide" [ngStyle]="{'background-size':'cover','background-image':'url(https://image.tmdb.org/t/p/original'+ peliculas.backdrop_path +')'}">
            <div class="movie-description">
                <h3>{{peliculas.title}}</h3>
                <p>{{peliculas.overview }}</p>
            </div>

        </div>

    </div>

    <div (click)="onSlidePrev()" class=" swiper-button-prev "></div>
    <div (click)="onSlideNext()" class="swiper-button-next"></div>


</div>