<div class="row">
    <div class="col-md-5 mx-5">
        <div>
            <div>
                <div style="display: block">
                    <canvas baseChart [data]="doughnutChartData" [type]="doughnutChartType">
                </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 ">
        <div class="d-grid 2-gap">
            <button class="btn btn-primary " (click)="numerosRandom()"> Actualizar</button>
        </div>

    </div>
</div>